asgiref==3.2.3
astroid==2.3.3
autopep8==1.5
certifi==2019.11.28
Click==7.0
Django==2.0.7
Flask==1.1.1
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
pipenv==2018.11.26
pycodestyle==2.5.0
pygame==1.9.6
pylint==2.4.4
pytz==2019.3
selenium==3.141.0
six==1.14.0
sqlparse==0.3.0
typed-ast==1.4.1
urllib3==1.25.7
virtualenv==16.7.4
virtualenv-clone==0.5.3
Werkzeug==0.15.5
wrapt==1.11.2
